<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:enrich:WithPaddedThreadId" />
    <add key="serilog:write-to:Console.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss.fff} {Level:u4} [{ThreadId}] &gt;&gt; {SourceContext,-20} &gt;&gt; {Message}{NewLine}{Exception}" />
    <add key="serilog:write-to:Debug.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss.fff} {Level:u4} [{ThreadId}] &gt;&gt; {SourceContext,-20} &gt;&gt; {Message}{NewLine}{Exception}" />
    <add key="serilog:using:PaddedThreadId" value="PicasaReboot.Core" />
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
    <add key="serilog:using:Debug" value="Serilog.Sinks.Debug" />
  </appSettings>
</configuration>