<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.0" targetFramework="net462" />
  <package id="FluentAssertions" version="4.19.4" targetFramework="net452" />
  <package id="Microsoft.Reactive.Testing" version="4.0.0-preview00001" targetFramework="net462" />
  <package id="NSubstitute" version="3.1.0" targetFramework="net462" />
  <package id="NUnit" version="3.9.0" targetFramework="net462" />
  <package id="reactiveui" version="8.0.0-alpha0069" targetFramework="net452" />
  <package id="Serilog" version="2.5.0" targetFramework="net452" requireReinstallation="true" />
  <package id="Serilog.Enrichers.Thread" version="3.0.0" targetFramework="net452" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net462" />
  <package id="Serilog.Sinks.Debug" version="1.0.0" targetFramework="net462" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net462" />
  <package id="Splat" version="2.0.0" targetFramework="net452" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net462" />
  <package id="System.IO.Abstractions" version="2.1.0.175" targetFramework="net462" />
  <package id="System.IO.Abstractions.TestingHelpers" version="2.1.0.175" targetFramework="net462" />
  <package id="System.Reactive" version="4.0.0-preview00001" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Reactive.Core" version="4.0.0-preview00001" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Reactive.Interfaces" version="4.0.0-preview00001" targetFramework="net452" />
  <package id="System.Reactive.Linq" version="4.0.0-preview00001" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Reactive.PlatformServices" version="4.0.0-preview00001" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Reactive.Windows.Threading" version="4.0.0-preview00001" targetFramework="net452" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net462" />
</packages>