<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:enrich:WithThreadId" />
    <add key="serilog:write-to:Console.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss.fff} {Level:u4} [{ThreadId,-2}] &gt;&gt; {SourceContext,-15} &gt;&gt; {Message}{NewLine}{Exception}" />
    <add key="serilog:using:Thread" value="Serilog.Enrichers.Thread" />
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
  </appSettings>
</configuration>